<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/header :: headContent}"></head>

  <body>
    <nav th:replace="~{fragments/header :: navbar}"></nav>

    <main class="content">
      <div class="success-wrapper">
        <div class="success-box">
          <div class="success-icon">&#10004;</div>
          <!-- Checkmark icon -->
          <h2>Booking Successful!</h2>
          <p>
            The counselor will contact you for further notification. You will
            also receive an email confirmation shortly.
          </p>
          <a th:href="@{/student/counselors}" class="ok-button">OK</a>
        </div>
      </div>
    </main>
  </body>
</html>
